.keyboard {
  margin: auto;
  border: 1px solid violet;
}

.key-row {
  display: flex;
  list-style: none;
  justify-content: center;
  height: 31%;
  margin: auto;
  margin-bottom: 6px;
}

.key-row li {
  margin-right: 6px; 
  border: 1px solid black;
  border-radius: 6px;
  width: 9%;
  background-color: var(--key-grey);
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.special-key-label {
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px; 
  border: 1px solid black;
  border-radius: 6px;
  width: 13%;
  background-color: var(--key-grey);
  user-select: none;
  cursor: pointer;
}

.del-icon {
  vertical-align: middle;
  width: 65%;
  height: 75%;
}