.main-grid {
  height: 100%;
}

.grid-row {
  display: flex;
  height: 16.6667%;
}

.grid-col {
  border: 2px solid var(--select-grey);
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: 2.5em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  box-sizing: border-box;
  caret-color: transparent;
  cursor: pointer;
}

.grid-col:focus {
  outline: none;
}

.grid-col::selection {
  background-color: transparent;
}